body {
    background-color: #f0f0f0;
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.formulario {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
}

article {
    margin: 20px 0;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal_titulo {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.nav_principal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.btn_nav_principal {
    background-color: #f0f0f0;
    color: black;
    padding: 10px;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btn_nav_principal:hover {
    background-color: #f7f7f7;
}

.btn_nav_principal.active {
    transform: scale(1.032);
    background-color: white;
}

.sec_principal {
    background-color: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.articulo_principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.nav_secundario {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.nav_secundario ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
    align-items: center;
    padding: 0;
    width: auto;
}

.nav_secundario li {
    margin-left: 10px;
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
}

.nav_secundario li:hover {
    background-color: #f7f7f7;
}

.articulo_visualiza {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.lista_jugadores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 0;
}

.lista_equipos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 0;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.tarjeta:hover {
    background-color: #f0f0f0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    scale: 1.05;
}

.tarjeta img {
    width: 125px;
    height: auto;
    border-radius: 5px;
}

.tarjeta li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 5px 0;
}

.tarjeta li:nth-child(odd) {
    background-color: #f9f9f9;
}

ul {
    list-style-type: none;
    padding: 0;
}

.nav_secundario li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.nav_secundario li a img {
    margin-right: 5px;
}

/*PUEBAS DE MODAL*/

.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed; /* Fijar en la pantalla */
    z-index: 1; /* Queda encima del contenido */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Fondo semitransparente */
}

.modal-content {
    background-color: #fff;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.mensaje-vacio {
    text-align: center;
    font-style: italic;
    color: #666;
    margin-top: 20px;
}